# Service name
#
SERVICE_NAME=redmine
IP_ADDRESS=

# Container name
# Summary container name in docker-compose.yml will be "${SERVICE_NAME}_${CONTAINER_NAME-*}"
#
CONTAINER_NAME_PGSQL=pgsql
CONTAINER_NAME_MEMCACHED=memcached
CONTAINER_NAME_REDMINE=server
CONTAINER_NAME_BACKUP=backup

# Docker images
#
DOCKER_IMAGE_PGSQL=sameersbn/postgresql:latest
DOCKER_IMAGE_MEMCACHED=sameersbn/memcached:latest
#DOCKER_IMAGE_REDMINE=sameersbn/redmine:latest
DOCKER_IMAGE_REDMINE=sameersbn/redmine:3.4.11
DOCKER_IMAGE_BACKUP=vasyakrg/backup

# Redmine domain name
#
REDMINE_HOST=redmine.you_domain.com

# Backup settings
#
BACKUP_DIR=/srv/backup
BACKUP_SCHEDULE=@daily

# DB credentials
#
DB_USER=redmine_user
DB_PASS=!!!

DB_NAME=redmine_prod

# Email for letsencrypt
#
LETSENCRYPT_EMAIL=!!!

# Container data path on the host
# Summary container data path will be "${SERVICE_DATA}/${SERVICE_NAME}"
#
SERVICE_DATA=/srv/services/data

# Network names
#
SERVICE_NETWORK=redmine
